{% extends "index.html" %}
{% block main_content %}

<!-- This is already inside a 'div' with class 'container' -->


<script>
    $(document).ready(function () {
        $(".k_trx_row").click(function () {

            localStorage.setItem("index", $(this).data('index'));

            $("#t_time").html($(this).data('time'));
            $("#t_time").html($(this).data('time'));
            $("#t_type").html($(this).data('type'));
            $("#t_source").html($(this).data('source'));
            $("#t_source_id").html($(this).data('source_id'));
            $("#t_desc").html($(this).data('desc'));
            $("#t_amount").html($(this).data('amount'));
            $("#t_fee").html($(this).data('fee'));
            $("#t_total").html($(this).data('total'));
            $("#t_curr").html($(this).data('curr'));
            $("#t_note").html($(this).data('note'));
            $("#t_category").html($(this).data('category'));
            $("#t_tags").html($(this).data('tags'));

            $('#modal_transactions').modal('show');
        });

        $("#button-spread").click(function () {
            let index = localStorage.getItem('index')
            window.location.href = 'spread?index=' + index
        });

    });
</script>

<div id="modal_transactions" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Details</h1>
                <button class="btn-close" data-bs-dismiss="modal" data-bs-target="modal_transactions"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p>Date/time:</p>
                        <p>Type:</p>
                        <p>Source:</p>
                        <p>Description:</p>
                        <p>Amount:</p>
                        <p>Fee:</p>
                        <p>Total:</p>
                        <p>Currency:</p>
                        <p>Category:</p>
                        <p>Tags:</p>
                        <p>Note:</p>
                    </div>
                    <div class="col">
                        <p id="t_time" class="text-nowrap"></p>
                        <p id="t_type"></p>
                        <p id="t_source"></p>
                        <p id="t_desc"></p>
                        <p id="t_amount"></p>
                        <p id="t_fee"></p>
                        <p id="t_total"></p>
                        <p id="t_curr"></p>
                        <p id="t_category"></p>
                        <p id="t_tags"></p>
                        <p id="t_note"></p>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <a href=""></a>
                    <button id="button-spread" class="btn btn-primary me-md-2" type="button">Spread</button>
                    <button class="btn btn-primary" type="button">Combine</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <section id="k_trx_list" class="col-lg-6">

        {% for index,row in dataframe.iterrows() %}

        <div class="row pb-lg-5 k_trx_row" data-index="{{index}}" data-time="{{row['time']}}"
            data-type="{{row['type']}}" data-source="{{row['source']}}" data-source_id="{{row['source_id']}}"
            data-desc="{{row['desc']}}" data-amount="{{row['amount']}}" data-fee="{{row['fee']}}"
            data-total="{{row['total']}}" data-curr="{{row['curr']}}" data-note="{{row['note']}}"
            data-category="{{row['category']}}" data-tags="{{row['tags']}}">

            <div class="row">
                <div class="col-lg-9">
                    <p class="mb-2 k_trx_level_1">{{ row['desc'] }}</p>
                    <p class="mb-2 k_trx_level_2"> {{ row['time'] }} </p>
                </div>
                <div class="col-lg-3 mb2 text-end k_trx_level_1 {% if row['total'] < 0 %} lower_than_zero {%endif%}">
                    <span> {{ row['total'] }} </span>
                    <span class="ms-1">{{ row['curr'] }}</span>
                </div>
            </div>
            <div class="row k_trx_level_3">
                <div class="col-lg-6">
                    <span>{{ row['source'] }}</span> - <span>{{ row['type'] }}</span>
                </div>
                <div class="col-lg-6 text-end">
                    <span>
                        <i class="bi bi-archive pe-1"></i>
                        <span class="pe-1">{{ row['category'] }}</span>
                        <i class="bi bi-plus-circle"></i>
                    </span>
                    <span class="ms-3">
                        <i class="bi bi-tags pe-1"></i>
                        <span class="pe-1">{{ row['tags'] }}</span>
                        <i class="bi bi-plus-circle"></i>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>

    <section class="col-lg-4 offset-lg-2">
        Controls
    </section>
</div>

{% endblock %}
